<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p>
        <a href="https://creativecommons.org/licenses/by/4.0/"><img src="https://licensebuttons.net/l/by/4.0/88x31.png" alt="Creative Commons Attribution 4.0" width="88" height="31"></a>
    </p>
    <p>
      See a typo? Feel free to
      <a href="https://github.com/{{ site.github.repository_nwo }}/blob/{{ site.branch }}/{{ page.path }}">edit this page</a>!
    </p>
    <p>
      {% if site.twitterUsername %}<a href="https://twitter.com/{{ site.twitterUsername }}">Twitter</a>{% endif %}
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}">Github</a>{% endif %}
      {% if site.dribbbleUsername %}<a href="https://dribbble.com/{{ site.dribbbleUsername }}">Dribbble</a>{% endif %}
      {% if site.codepenUsername %}<a href="http://codepen.io/{{ site.codepenUsername }}">CodePen</a>{% endif %}
      {% if site.gitterUsername %}<a href="https://gitter.im/{{ site.gitterUsername }}">Gitter Chat</a>{% endif %}
    </p>
  </div>
</footer>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'tinytacoteam/zazu'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
