/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
  padding-top: 14.1rem; // 75px
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  height: 300px;
  background: $c__light-grey;
  color: darken($c__light-grey, 25%);

  p {
    @include fs--meta;
    line-height: 3;
  }

  a:not(:first-of-type) {
    margin-left: 2rem;
  }
}

.c-footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
