a.package {
  width: 230px;
  border: 2px solid darken($c__light-grey, 10%);
  text-align: center;
  margin: 10px;
  padding: 20px;
  height: 300px;
  float: left;
  position: relative;
  text-decoration: none !important;

  &:hover {
    background-color: $c__light-grey;
  }

  &:before, &:after {
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    display: block;
    width: 35px;
  }

  &:before {
    @include fs--title;
    color: $t-theme;
    content: "\f02e"; // fa-bookmark
    line-height: 1;
    top: -5px;
  }

  &:after {
    text-align: center;
    @include fs--body;
    color: $c__white;
    top: 2px;
    line-height: 1;
  }

  &.theme:after {
    content: "\f1fc"; // paint-brush
  }

  &.plugin:after {
    content: "\f1e6"; // fa-plug
  }
}
