.searchContainer {
  max-width: 400px;
  width: 100%;
  height: 40px;
  float: right;
  overflow: visible;

  input {
    font-size: 20px;
    width: 25%;
    margin-left: 75%;
    padding: 5px;
    outline: none;
    transition: all .5s ease;
    &:focus {
      margin-left: 0;
      width: 100%;
    }
  }

  select {
    top: -2px;
    margin-left: 5px;
    position: relative;
    border: none;
    font-size: 14px;
    height: 35px;
    padding: 5px;
  }

  &.focused .result {
    display: block;
  }

  .result {
    border-color: darken(white, 10%);
    border-style: solid;
    border-width: 0 1px 1px 0;
    cursor: pointer;
    background-color: #fff;
    padding: 5px 10px;
    position: relative;
    z-index: 2;
    display: none;

    img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    i {
      margin-right: 10px;
      font-size: 35px;
    }

    p {
      margin: 0;
    }

    &:hover {
      background-color: darken(white, 2.5%);
    }

    &.posts {
      border-left: 3px solid $c__purple;
    }

    &.packages {
      border-left: 3px solid $c__orange;
    }

    &.docs {
      border-left: 3px solid $c__mint;
    }
  }
}
