/* ==========================================================================
   Teal Theme
   ========================================================================== */

.t-mint {

  .c-navigation,
  .c-header {
    background: $c__mint;
  }

  .c-article__main a:not(.c-btn) {
    color: $c__mint;
  }

  .c-footer a {
    color: $c__mint;
  }
}
